<nav id="mobile-navbar" class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">

    <!-- Brand / Site Title -->
    <%= link_to root_path, id: "site-title", class: "navbar-brand" do %>
      ChairHop
    <% end %>

    <!-- Mobile toggler (hamburger) -->
    <button class="navbar-toggler ms-auto" type="button" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible menu -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Profile", edit_profile_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Settings", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out",
                        destroy_user_session_path,
                        data: { turbo_method: :delete },
                        class: "nav-link" %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Book Now", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
