<nav class="navbar chairhop-navbar sticky-top">
  <div class="container-fluid chairhop-navbar__inner">

    <!-- Brand -->
    <%= link_to root_path, class: "navbar-brand chairhop-navbar__brand" do %>
      ChairHop
    <% end %>

    <div class="d-flex align-items-center chairhop-navbar__links">

      <!-- Desktop nav links -->
      <ul class="navbar-nav chairhop-navbar__nav-list d-none d-md-flex">
        <li class="nav-item">
          <%= link_to "Services", "#", class: "nav-link chairhop-navbar__nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", "#", class: "nav-link chairhop-navbar__nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "#", class: "nav-link chairhop-navbar__nav-link" %>
        </li>
      </ul>

      <% if user_signed_in? %>

        <!-- Desktop CTA -->
        <%= link_to "Hopps",
                    new_chat_path,
                    class: "btn chairhop-navbar__cta d-none d-md-inline-flex" %>

        <!-- Mobile avatar dropdown -->
        <div class="dropdown d-md-none">
          <a
            href="#"
            class="avatar-dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: "avatar-img", alt: "User menu" %>
            <% else %>
              <%= image_tag "profile.png", class: "avatar-img", alt: "User menu" %>
            <% end %>
          </a>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Hopps", new_chat_path, class: "dropdown-item" %>
            <%= link_to "Chats", chats_path, class: "dropdown-item" %>
            <%= link_to "Conversations", conversations_path, class: "dropdown-item" %>
            <%= link_to "Profile", profile_path(edit: 1), class: "dropdown-item" %>
            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out",
                        destroy_user_session_path,
                        data: { turbo_method: :delete },
                        class: "dropdown-item" %>
          </div>
        </div>

      <% else %>

        <!-- Logged out CTA -->
        <%= link_to "Book Now",
                    new_user_session_path,
                    class: "btn chairhop-navbar__cta" %>

      <% end %>

    </div>
  </div>
</nav>
