<nav id="mobile-navbar" class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">

    <!-- Brand / Site Title -->
    <%= link_to root_path, id: "site-title", class: "navbar-brand" do %>
      ChairHop
    <% end %>

    <!-- Mobile toggler (hamburger) -->
    <button class="navbar-toggler ms-auto" type="button" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible menu -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Profile", edit_profile_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Settings", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out",
                        destroy_user_session_path,
                        data: { turbo_method: :delete },
                        class: "nav-link" %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Book Now", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
      <div class="header-actions header-actions--right d-flex align-items-center gap-2 mt-2 mt-sm-0">

        <% if user_signed_in? %>
          <%= link_to "Hopps", new_chat_path, class: "btn btn-info btn-hopps" %>

          <div class="dropdown header-actions-action">
            <a class="avatar-dropdown-toggle d-flex align-items-center" id="navbarDropdown"
               href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user&.avatar&.attached? %>
                <%= image_tag url_for(current_user.avatar), class: "avatar-img", alt: "User menu" %>
              <% else %>
                <%= image_tag "profile.png", class: "avatar-img", alt: "User menu" %>
              <% end %>
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path(edit: 1), class: "dropdown-item" %>
              <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Chats", chats_path, class: "dropdown-item" %>
              <%= link_to "Conversations", conversations_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path,
                          data: { turbo_method: :delete },
                          class: "dropdown-item" %>
            </div>
          </div>

        <% else %>
          <%= link_to "Hopps", "#", class: "btn btn-info btn-hopps disabled", aria_disabled: true %>
          <%= link_to "Book Now", new_user_session_path, class: "btn btn-primary btn-book" %>
        <% end %>

      </div>
    </div>
  </div>
</nav>
