<div class="search-bar">
  <%= form_with url: appointments_path, method: :get, class: "d-flex" do %>
    <%= label_tag :query, "Search", class: "visually-hidden" %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>

<%= render "shared/searchbar" %>

 <% @appointments.each do |appointment| %>
          <div class="col-md-6">
            <%= link_to appointment_path(appointment), class: "text-decoration-none" do %>
              <div class="card appointment-card">
                <% if appointment.stylist.avatar.attached? %>
                  <%= image_tag appointment.stylist.avatar, class: "card-img-top", alt: appointment.stylist.name %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1560066984-138dadb4c035?w=400", class: "card-img-top", alt: "Salon" %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= appointment.salon %></h5>
                  <p class="card-text">
                    <%= appointment.location %>
                    <% if appointment.time.present? %>
                      <br><small><%= appointment.time.strftime("%b %d, %Y at %I:%M %p") %></small>
                    <% end %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
