<h1> <%= @appointment.salon %></h1>
<%= link_to "View the stylist", appointment_chats_path(@appointment), class: "btn btn-primary" %>
<p>
  <strong>Stylist:</strong>
  <%= @appointment.stylist.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time %>
</p>

<p>
  <strong>Salon:</strong>
  <%= @appointment.salon %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appointment.content %>
</p>

<%= link_to "â† Back", root_path %>
<%= link_to "Go to chats", appointment_chats_path(@appointment), class: "btn btn-primary" %>
<%= link_to "Ask HOPPS for help", new_chat_path(@appointment, appointment_id: @appointment.id), class: "btn btn-primary" %>
<%= link_to "Message the stylist", appointment_chats_path(@appointment), class: "btn btn-primary" %>
<% console %>
